@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fira+Code:wght@400;500&display=swap");
@import "tailwindcss";



/*カスタムカラーの追加*/
@theme {
    --color-custom-blue: #1E40AF;

    --color-custom-green-light: #6EE7B7;
    --color-custom-green: #10B981;
    --color-custom-green-dark: #047857;
}

/*カスタムフォントの追加*/


@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
